extends partial/layout

block site_title
    !=  `${__('navbar.archive')} · ${config.title}`

block description
    - var desc = `${__('navbar.archive')} - ${config.title}`;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
      .archive.animated.fadeInDown
        ul.list-with-title
          include mixins
          +postList()
          +make_pager(__('common.prev'), __('common.next'))